* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

body {
  padding: 40px 0;
}

table {
  width: 100%;
  text-align: left;
}
table tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}
table tr:first-child {
  background: rgba(0, 0, 0, 0.1);
}
table tr th, table tr td {
  padding: 0.5em 1em;
  width: 11.1111111111%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
table tr th:nth-child(1), table tr td:nth-child(1) {
  width: 22.2222222222%;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: flex;
  margin: 0 -20px;
}

.col {
  padding: 0 20px;
}

.button {
  display: inline-block;
  padding: 9px 1em;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  background: #0000ee;
}
.button:hover {
  background: #2222ff;
}

.generator table {
  margin-bottom: 20px;
}
.generator .col:nth-child(1) {
  width: 30%;
}
.generator .col:nth-child(2) {
  width: 70%;
}
